<mat-card>
    <div class="employee-box">
        <button [routerLink]="['/register']" mat-flat-button >Cadastrar novo funcionário</button>
        <div class="input_box">
            <mat-form-field appearance="fill">
                <mat-label>Procurar:</mat-label>
                <input matInput placeholder="Qual registro está buscando?" (input)="search($event)">
            </mat-form-field>
        </div>
    </div>

    <table mat-table [dataSource]="employees" class="mat-elevation-z8">
        <ng-container matColumnDef="situation">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let employee">
            <div *ngIf="employee.active == true; else  inactive">
                <img src="assets/images/Active.png" alt="Active" style="height: 20px; width: 20px;">
            </div>
            <ng-template #inactive>
                <img src="assets/images/Inactive.png" alt="Inactive" style="height: 20px; width: 20px;">
            </ng-template>
        </td>
        </ng-container>
        <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let employee"> {{employee.name}} </td>
        </ng-container>
            <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> Sobrenome </th>
        <td mat-cell *matCellDef="let employee"> {{employee.lastName}} </td>
        </ng-container>
            <ng-container matColumnDef="departament">
        <th mat-header-cell *matHeaderCellDef> Departamento </th>
        <td mat-cell *matCellDef="let employee"> {{translateDepartament(employee.departament)}} </td>
        </ng-container>
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let employee">
                <a routerLink="/edit/{{employee.id}}" mat-raised-button style="color: #b86e14;">Editar</a>
                <a routerLink="/details/{{employee.id}}" mat-raised-button>Detalhes</a>
            </td>
        </ng-container>
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let employee">
                <button class="close-modal" (click)="OpenDialog(employee.id)" mat-mini-fab style="color: red;" aria-label="Icone de exclusão">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>
</mat-card>